/mnt/archgen/public_data/HGDP+1KG_callset/stats/POS.all_filtered.AFR_mono.13EUR+NL+SE/CHR.POS.DRV.ANC.13EUR.NL.SE.EUR15_frac.EUR_asc_25p.txt	18	NL	FALSE	1	TRUE
/mnt/archgen/users/lei_huang/ancient_British/POS.AFR_mono.13EUR+NL+SE.EUR_asc_25p/genome.d3/Schiffels2016/Schiffels2016.geno	1	12880A	TRUE	2	FALSE
